.header-color {
  background: #1cb0dd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cb0dd, #1cb0ddad, #1cb0dd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cb0dd, #1cb0ddad, #1cb0dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #1cb0dd, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #1cb0dd, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #0f0f0f;
  color: rgb(226, 226, 226);
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 560px;
  background: white;
  color: #1cb0dd;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  color: #1cb0dd;

}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  color: #1cb0dd;

  /* font-weight: bold; */
}

.contact-grid hr {
  border-top: 5px dotted #1cb0dd;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  color: #1cb0dd;

  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 225px;
  padding-top: 6em;
  /* border: 2px solid #1cb0dd;
  border-radius: 10px; */
  border-width: 2px;
}

.banner-text {
  background-color: #ffffff;
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  /* font-weight: bold; */
  color: #1999c0;
}

.banner-text hr {
  border-top: 5px dotted #60abc2;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #1999c0;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: #1781a1;
  font-size: 5em;
  padding: 8px;
}

a:link {
  color: rgb(32, 85, 102);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(32, 159, 190);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 102, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(4, 0, 255);
  background-color: transparent;
  text-decoration: underline;
}