.header-color {
  background: #dddddd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0c2094, #1cb0dd, #c9711f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c9711f, #1cb0dd, #0c2094); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #2d4168;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0c2094, #1cb0dd, #c9711f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0c2094, #1cb0dd, #c9711f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #272727;
  color: rgb(226, 226, 226);
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 560px;
  background: white;
  color: #0c2094;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  color: #0c2094;

}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  color: #0c2094;

  /* font-weight: bold; */
}

.contact-grid hr {
  border-top: 5px dotted #0c2094;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  color: #0c2094;

  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
  /* border: 2px solid #1cb0dd; */
  /* border-radius: 10px; */
  border-width: 2px;
}

.banner-text {
  background-color: #0c2094;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  /* font-weight: bold; */
  color: #e78224;
}

.banner-text hr {
  border-top: 5px dotted #e78224;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #e78224;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: #e78224;
  font-size: 5em;
  padding: 8px;
}

a:link {
  color: rgb(29, 85, 102);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(32, 159, 190);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 136, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(5, 2, 134);
  background-color: transparent;
  text-decoration: underline;
}